name: build

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Populate env file
        run : |
          sed -i 's#ES_DEPLOY_ADDRESS=#ES_DEPLOY_ADDRESS=http://127.0.0.1:8074/#' env.example
          sed -i 's#TRUSTED_ORIGINS=#TRUSTED_ORIGINS=http://127.0.0.1#' env.example
          sed -i 's#ES_ADDRESS=#ES_ADDRESS=http://127.0.0.1:10001/#' env.example
          mv env.example .env
      - name: Docker build and run
        run : docker compose up --build -d
  
      - name: Sleep for 30 seconds
        if: contains( matrix.os, 'ubuntu' )
        run: sleep 30s
        shell: bash
  
      - name: Sleep for 30 seconds
        if: contains(  matrix.os, 'windows' )
        run: Start-Sleep -s 30
        shell: powershell

      - name: Stop the platform
        if: always()
        run: docker compose down
        
